html {
    overflow: hidden;
    text-decoration: none;

}

.actor-hover {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
  }

  .actor-hover:hover .actor-image {
    display: block;
  }

  .actor-image {
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 150px;
    height: auto;
    z-index: 10;
    -webkit-box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    background-color: #362b4493;
    border: none;
    border-radius: 4px;
  }


.splash-container {
    display: block;
    top: 70px;
    height: 500px;
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.main-poster {
    height: 500px;
    left: 1px;
    position: absolute;
    width: 340px;
    border-radius: 6px;
    -webkit-box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    background-color: #362b4493;
    display: block;
    top: 10px;

}
.movie-info {
    font-size: 15px;
    position: absolute;
    bottom: 295px;
    left: 380px;
    text-decoration: none;

}

.main-title {
    font-size: 35px;
    position: absolute;
    bottom: 420px;
    left: 375px;
    max-width: 800px;

}
.description {
    font-size: 18px;
    text-align: left;
    max-width: 70%;
    max-height: 170px;
    bottom: 100px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    left: 350px;
    height: 75%;
    padding-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}



.play-button {
    background-repeat: no-repeat;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: block;
    color: #292929;
    padding-top: 12px;
    text-decoration: none;
    position: absolute;
    left: 375px;
    bottom: 150px;
    padding-left: 18px;
    font-size: 24px;
    height: 40px;
    width: 110px;
    background-color: white;
    border-radius: 5px;
    background-position: bottom 4px left 9px;
    }

@media only screen and (max-width: 600px) {
.main-poster {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 45%;
    width: auto;
    border-radius: 6px;
    -webkit-box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.41);
}
.movie-info {
    font-size: 1.5dvh;
    position: absolute;
    left: 180px;
    display: block;
    text-align: left;
    width: 150px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    top: 54%;
    

}
 .play-button {
    background-repeat: no-repeat;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: block;
    color: #292929;
    padding-top: 12px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    padding-left: 18px;
    font-size: 24px;
    height: 40px;
    width: 110px;
    background-color: white;
    border-radius: 5px;
    background-position: bottom 4px left 9px;
    }
.main-title {
    font-size: 20px;
    position: absolute;
    text-align: center;
    display: block;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;

}
.description {
    font-size: 1.5dvh;
    text-align: left;
    max-width: 45%;
    top: 54%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 40px;
    position: absolute;
    left: 0px;
    width: 150px;
    overflow: hidden; /* Hide overflowed text */
    display: -webkit-box; /* Set display to WebKit-based box model */
    -webkit-line-clamp: 8; /* Limit to 4 lines */
    -webkit-box-orient: vertical; /* Set box orientation to vertical */
    text-overflow: ellipsis; /* Add ellipsis at the end */
    line-height: 1.5em; /* Adjust line height for proper spacing */
    max-height: calc(1.4em * 8); /* Match height to 4 lines of text */
}


.splash-container {
    display: block;
    top: 100px;
    height: 80%;
    width: 95dvw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
}
